@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-picture {
    width: 100px;
    height: 75px;
}

.pokemon-row:hover {
  background-color: rgb(254, 255, 232)
}

.team-card {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: table-row
}

.team-card:hover {
 background-color: rgb(254, 255, 232)
}

.type-row:hover {
 background-color: rgb(254, 255, 232)
}

.duels-row:hover {
  background-color: rgb(254, 255, 232)
}

.user-info {
  flex-direction: column;
  justify-content: center;
}

.user-info > * {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}

.col-poke {
  border-radius: 8px;
  overflow: hidden;
}

.delete {
  margin-top: 5px;
  margin-bottom: 20px;
}

.team-header {
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 40px;
  margin-bottom: 20px;
}

.teamname {
  margin-left: 20px;
}


.team-selector {
  margin-top: 40px;
  margin-left: 30px;
}


.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
  margin-top: 10px;
}

.user-team-row,
.enemy-team-row {
  margin-top: 20px;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.user-team-row{
  margin-left: 20px;
}

.error-msg {
  margin-top: 20px;
}

.duel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #fb4545;
}

.navbar-brand {
  color: #ffffff;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #000000;
}

body {
  background-image: url('https://cdn.mos.cms.futurecdn.net/bZsq4m8UfKeod3AMAwiSWL.jpg');
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  margin: 0;
}

.teamname {
  margin-left: 20px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.greeting {
  margin-top: 20px;
}

.duel-btn {
  margin-top: 20px;
}

.trainer-new {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.title-sim {
  margin-top: 160px;
}

.row-form {
  margin-top: 40px;
}

.bar {
  border: 1px solid #666;
  height: 20px;
  width: 100%;

  .in {
    animation: fill 5s linear 1;
    height: 100%;
    background-color:#fb4545;
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
